*{
    margin: 0;
    padding: 0;
}

body,html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}

html, body, #map {
    height: 100%;
}

#map {
    overflow: hidden;
    position: relative;
}

#map > .screen,
#map > img {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#map > .screen > #stage1,
#map > .screen > #stage2 {
    content: "";
    position: absolute;
    width: 50.5vmax;
    height: 50.5vmax;
    top: 10%;
    right: 4%;
}

#map > .screen > #stage2 {
  left: auto;
  top: 22%;
  right: 46%;

}

@media screen and (min-aspect-ratio: 2842/2383) {
    #map > img {
        width: 100vw;
    }

    #map > .screen {
        width: 100vw;
        height: 83.85vw;
    }
}

@media screen and (max-aspect-ratio: 2842/2383) {
    #map > img {
        height: 100vh;
    }

    #map > .screen {
        height: 100vh;
        width: 119.26vh;
    }
}

@media (max-width: 1061px) {
  #map > .screen > #stage1,
  #map > .screen > #stage2 {
      top: 14%;
      right: 11%;
  }

  #map > .screen > #stage2 {
    left: auto;
    top: 25%;
    right: 49%;

  }
}

.aCircle {
  -webkit-animation: pulsate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 1.0;}
    25% {opacity: 0.9;}
    50% {-webkit-transform: scale(1.3, 1.3); opacity: 1.0;}
    75% {opacity: 0.9;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}


/*/////////////////////////////////  mobile map    */

div#map_mobile{
  margin: 0px;
  padding: 0px;
  width: 640px;
  height: 1136px;
  margin: 0 auto;
  /*background: url('http://i.imgur.com/SNYp18N.png');*/
  position: absolute;
}

.mobile_stage1{
  position:absolute;
  top: 52%;
  left: 22%;
}

.mobile_stage2{
  position:absolute;
  margin: -45px 0 0 -40px;
  top: 9%;
  left: 6%;
}
