body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  margin: 0 auto;
  background: rgba(0,0,0,0.2);
  width: 320px;
  height: 520px;
}
